@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body {
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  hight: 100%;
  width: 100%;
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
  font: 800 25px Arial;
  color: orangered;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 2px;
}

.scroll-bg {
  background-color: whitesmoke;
  padding: 10px 0px;
  font: 800 25px Arial;
  color: orangered;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 2px;
}

/* first section */

.bg-1 {
    background-image: url('/blog/images/amphigorey_0009_1.jpg');
}

/* third section */

.bg-2 {
    background-image: url('/blog/images/amphigorey_0009_2.jpg');
}

/* fifth section */

.bg-3 {
  background-image: url('https://www.dl.dropboxusercontent.com/s/rsk15kp7azmsi27/bg3.jpg');
}

.section-background img {
    position: fixed !important;
}
